<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a621dca8-7b75-4b35-bbce-822466308c09" Publisher="CN=Larry" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LRS_MetroSampleWindowsBlogReader</DisplayName>
    <PublisherDisplayName>Larry</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>LRS_MetroSampleWindowsBlogReader</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LRS_MetroSampleWindowsBlogReader.App">
      <VisualElements DisplayName="LRS_MetroSampleWindowsBlogReader" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LRS_MetroSampleWindowsBlogReader" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>