<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestDataGridView.Properties.Settings.Badgemax_Test_DBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\LRS\BadgeMax\Badgemax Test DB.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>