<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CopyCDCatlgToSSCe.Properties.Settings.CD_Catalog_in_C_ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\LRS\$CD Catlg - Archive\CDCatlg-19\CD Catalog in C#.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>