<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LLImportStats.Properties.Settings.LeadsLightningConnectionString"
            connectionString="Data Source=75.126.77.59,1092;Initial Catalog=leadslightning;User ID=sa;Password=$yclahtw2007bycnmhd!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>