<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LLConcurrencyAnalysis.Properties.Settings.lldevelConnectionString"
            connectionString="Data Source=SQLB5.WebControlCenter.com;Initial Catalog=lldevel;Persist Security Info=True;User ID=ahmed;Password=i7e9dua$tda@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>