<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestLinqToSqlWithXml_1.Properties.Settings.Test_Xml_2ConnectionString"
            connectionString="Data Source=LRS9450-PC\MSSQLSERVERLRS;Initial Catalog=Test_Xml_2;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>