<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="4d413f32-0113-4264-9a83-fd2aa021efe1"
            Publisher="CN=Larry"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>LRSMetro1</DisplayName>
    <PublisherDisplayName>Larry</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>LRSMetro1</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="LRSMetro1.App">
        <VisualElements
            DisplayName="LRSMetro1"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="LRSMetro1"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>