<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestReportViewer2.Properties.Settings.lldevelConnectionString"
            connectionString="Data Source=sqlb5.webcontrolcenter.com;Initial Catalog=lldevel;User ID=ahmed;Password=i7e9dua$tda@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>