<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
  <add name="LRSLibraryBooks" connectionString="Server=(LocalDb)\v11.0;Initial Catalog=LRS Library Books;Integrated Security=true"
	providerName="System.Data.SqlClient" />
  <add name="LRSLibraryBooksTestMigration" connectionString="Server=(LocalDb)\v11.0;Initial Catalog=LRS Library Books - Test Migration;Integrated Security=true"
	providerName="System.Data.SqlClient" />
  <add name="LRSLibraryBooksBackup" connectionString="Server=(LocalDb)\v11.0;Initial Catalog=LRS Library Books - Backup;Integrated Security=true"
	providerName="System.Data.SqlClient" />
  <add name="LRSLibraryBooks_11" connectionString="Server=(LocalDb)\v11.0;Initial Catalog=LRS Library Books;Integrated Security=true;MultipleActiveResultSets=True"
   providerName="System.Data.SqlClient" />
  <add name="xxxLRSLibraryBooks" connectionString="Server=(LocalDb)\v11.0;Initial Catalog=LRS Library Books;Initial File Name=D:\LRS\LRS Library Books.mdf;Integrated Security=true"
   providerName="System.Data.SqlClient" />
  <add name="LRSLibraryBooks.Properties.Settings.LRSLibraryBooks"
   connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=&quot;LRS Library Books&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="Data Source=(localdb)\v12.0; Integrated Security=True; MultipleActiveResultSets=True"/>
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
